#cuerpo{
    background-color: rgb(236, 153, 0) !important;
}

#nav{
    background-color: rgb(201, 131, 1);  
}
#ordenes{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#ordenes2{
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#flecha{
    margin-left: 20px;
}

#flecha2{
    margin-left: 10px;
}

#contenido1{
    margin-left: 30px;
    margin-top: 20px;
}

#contenido2{
    height: 192px;
    margin-top: -232px;
    margin-left: 34px;
}

#contenido3{
    margin-top: -202px;
    margin-left: 80px;
}
#contenido4{
    margin-top: -195px;
    margin-left: 70px;
}
#papas{
    margin-top: -250px;
    margin-left: 35px;
}

#linea{
    margin-top: -260px;
    margin-left: 132px;
}

#circulo1{
    margin-top: -250px;
    margin-left: 180px;
}

#circulo2{
    margin-top: -300px;
    margin-left: 240px;
}

#dibujo{
    margin-top: -520px;
    margin-left: 140px;
}
#nav2{
    background-color: rgb(201, 131, 1);  
    margin-top: -120px;
}

@media only screen and (max-width: 844px){
    #navegacion-img{
        width: 390px;
        height: 60px;
    }
    
    #nav{
        background-color: rgb(201, 131, 1);  
    }
    #ordenes{
        margin-left: 60px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #ordenes2{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    #flecha{
        margin-left: 20px;
    }
    
    #flecha2{
        margin-left: 10px;
    }
    
    #contenido1{
        margin-left: 45px;
        margin-top: 20px;
    }
    
    #contenido2{
        height: 192px;
        margin-top: -232px;
        margin-left: 50px;
    }
    
    #contenido3{
        margin-top: -202px;
        margin-left: 100px;
    }
    #contenido4{
        margin-top: -195px;
        margin-left: 85px;
    }
    #papas{
        margin-top: -250px;
        margin-left: 50px;
    }
    
    #linea{
        margin-top: -260px;
        margin-left: 147px;
    }
    
    #circulo1{
        margin-top: -250px;
        margin-left: 195px;
    }
    
    #circulo2{
        margin-top: -300px;
        margin-left: 255px;
    }
    
    #dibujo{
        margin-top: -520px;
        margin-left: 160px;
    }
    #nav2{
        background-color: rgb(201, 131, 1);  
        margin-top: -120px;
    }
    
}