#fondo{
    background-color: #E18700;
}

#nav{
width: 1460px;
height: 120px;
left: 0px;
top: 0px;

background-color: black;
}

#delivery{
    position: absolute;
width: 603px;
height: 103px;
left: 101px;
top: 8px;

font-family:'Irish Grover', Irish Grover, Unispace;
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 109px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 5px 5px 4px #E18700;
}

#admin{
    position: absolute;
width: 232px;
height: 58px;
left: 520px;
top: 68px;

font-family: 'Unispace';
font-style: normal;
font-weight: 400;
font-size: 20px;
margin-left: 50px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

#logo{
    position: absolute;
width: 157.63px;
height: 110px;
left: 831px;
top: 6px;
}
#side{
    height: 1400px;
    width: 100px;
}
#crud{
    position: absolute;
left: 21.18%;
right: 8.26%;
top: 19%;
bottom: 2.83%;
height: 190vh;
background: #FFFFFF;
border-radius: 50px;
}

#registrados{
    position: absolute;
    height: 120px;
left: 23.54%;
right: 42.36%;
top: 22.27%;
bottom: 64.36%;

background: #D9D9D9;
border-radius: 20px;
}
#motoristas{
    position: absolute;
left: 27.92%;
right: 47.5%;
top: 23.83%;
bottom: 20.99%;

font-family: 'Unispace';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#driver{
    position: absolute;
width: 250px;
height: 174px;
left: 674px;
top: 125px;
}
#agregar{
    font-family: 'Unispace';
    position: absolute;
width: 166px;
height: 45px;
left: 1000px;
top: 327px;

background: #48F439;
border-radius: 50px;
}
#editar{
    font-family: 'Unispace';
    position: absolute;
width: 166px;
height: 45px;
left: 1000px;
top: 407px;

background: #F49E39;
border-radius: 50px;
}

#eliminar{
    font-family: 'Unispace';
    position: absolute;
width: 166px;
height: 45px;
left: 1000px;
top: 487px;

background: #FF0F00;
border-radius: 50px;
}
#tarjeta1{
    margin-top: 170px;
    margin-left: 50px;
    
}

#tarjeta2{
    margin-top: -345px;
    margin-left: 250px;
    
}

#tarjeta3{
    margin-top: 10px;
    margin-left: 50px;
}

#tarjeta4{
    margin-top: -345px;
    margin-left: 250px;
}

#tarjeta5{
    margin-top: 10px;
    margin-left: 50px;
}


#imagen{
    height: 190px;
    width: 190px;
}

#img-selector{
    margin-top: 30px;
}